header {
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
}

main {
    font-size: large;
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 15px 20px;
}

.right_imgs {
    width: 50px;
    height: auto;
    display: flex;
    align-items: center;
    padding: 8px;
    margin: 10px;
}

.left_imgs {
    display: flex;
    align-items: center;
}

.central_name {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 300;
}

.all_types {
    font-family: "Montserrat";
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px 550px;
}

.btn_view_collection {

    width: 130px;
    height: 50px;
}

.welcome_cont {
    color: aliceblue;
    width: 800px;
    height: 300px;
    align-items: center;
    padding: 60px 50px;
    background-color: #2a244b;
}

.main_text_welcome_cont {
    font-family: "Montserrat", sans-serif;
    font-size: x-large;
}

.bottom_text_welcome_cont {
    font-family: "Montserrat";
    font-size: small;
}