header {
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
}

main {
    font-size: large;
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 15px 20px;
}

.right_imgs {
    width: 50px;
    height: auto;
    display: flex;
    align-items: center;
    padding: 8px;
    margin: 10px;
}

.left_imgs {
    display: flex;
    align-items: center;
}

.central_name {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 300;
}

.all_types {
    font-family: "Montserrat";
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 100px;
    /* width: 100%; */
}

.all_types li {
    margin: 10px;
}

.flexi {
    display: flex;
    justify-content: center;
}

.welcome_cont {
    background-color: #2a244c;
    width: 1600px;
    height: 660px;
    display: flex;
    align-self: center;
    position: static;
}

.btn_view_collection {
    padding: 20px;
    align-self: baseline;
    background-color: #415168;
    width: 180px;
    height: 80px;
    border: none;
}

.btn-view-collection {
    padding: 50px;
    position: absolute;
    align-self: self-start;
    margin-top: 250px;
    transition: all 0.1s ease;
}

.btn_view_collection {
    border: 1px;
}

.btn-view-collection button:hover {
    transform: translateY(-1px);
    box-shadow: 0px 1px 1px 1px rgb(38, 38, 38);
    background-color: #3e4c62;
}

.btn-view-collection button:active {
    transform: translateY(0.5px);
}

.chair_welcome_cont {
    width: 50%;
    height: 100%;

}

.main_text_welcome_cont {
    padding: 50px;
    margin-bottom: auto;
    flex: 1;
    font-family: "Montserrat", sans-serif;
    font-size: x-large;
}

.bottom_text_welcome_cont {
    padding: 50px;
    position: absolute;
    margin-top: auto;
    align-items: flex-start;
    align-self: last baseline;
    flex: 1;
    font-family: "Montserrat";
    font-size: small;
}


/* .chair_welcome_cont img {
    width: 100%;
    height: 100%;
} */

.name_different {
    margin-top: 100px;
    text-align: center;
    font-size: x-large;
    font-family: "Montserrat", sans-serif;
}

.differents {
    align-self: center;
    display: flex;
    gap: 20px;
    padding: 10px;
    justify-content: space-evenly;
    justify-content: center;
    margin-left: 65px;

}

.default_text {
    font-family: "Nunito", sans-serif;
    font-size: medium;
}


.h2_text {
    font-family: "Montserrat", sans-serif;
    font-size: x-large;
}

.diff_blocks {
    margin-top: 10px;
    flex: 1;
}

.all_ceramics {
    /* max-width: 1800px; */
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
}

.img_ceramcs {
    width: 305px;
    height: 375px;
}

.collection_btn_ceramcs {
    width: 200px;
    height: 70px;
    border: 1px solid #e3e3e3;
}

.collection_btn_ceramcs:hover {
    transform: translateY(-1px);
    background-color: #dfdfdf;
    border: 1px solid rgb(213, 213, 213);
    /* box-shadow: 1px 1px 2px 0px black; */
}

.collection_btn_ceramcs:active {
    transform: translateY(1px);
}

.collection_btn_cer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.text {
    font-family: "Montserrat", sans-serif;
    font-size: large;
}

.cards {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-between;
}

.block-join {
    width: 100%;
    height: 400px;
    margin-top: 50px;
    padding: 70px;
    border: 80px solid #e3e3e3;
}

.form-email {
    width: 300px;
    height: 40px;
    padding: 5px;
    border-radius: 0px;
    border: none;
    background-color: #ebebeb;
}

.btn-signup {
    background-color: #2a244c;
    color: white;
    width: 50px;
    border: none;
    box-shadow: 1px 0px 2px 0px black;
}

.btn-signup:active {
    transform: translateY(1px);
}



.brand-history {
    display: flex;
}

.text-join-part {
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 50%;
}


#paragraph-2 {
    margin-top: 10px
}

#paragraph-1 {
    margin-top: 10px
}

.btn-get-in-touch {
    border: 1px solid #e3e3e3;
    margin-top: 300px;
    font-family: "Nunito", sans-serif;
    font-size: large;
    width: 200px;
    height: 80px;
}

.btn-get-in-touch:hover {
    transform: translateY(-1px);
    background-color: #dfdfdf;
    border: 1px solid rgb(213, 213, 213);
}

.btn-get-in-touch:active {
    transform: translateY(1px);
}

.footer-div {
    color: white;
    width: 100%;
    height: 300px;
    background-color: #2a244c;
}

#upper-foot {
    display: flex;
    gap: 20px;
}

#footer-menu {
    flex: 1;
}

#footer-categories {
    flex: 1;
}

#footer-company {
    flex: 1;
}

.list-none {
    list-style: none;
}


#lower_foot {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.imgs_footer {
    display: flex;
    justify-content: space-evenly;
    margin-right: 30px;
}

.imgs_footer img {
    margin-bottom: 4px;
    margin-right: 5px;
    height: 32px;
    width: 32px;
}

.href-none-undline {
    text-decoration: none;
}

.href-none-undline:active {
    transform: translateY('2px');
}

/* DESKTOP FIRST - Breakpoints: 1199px, 991px, 767px, 575px, 399px */

/* Ноутбуки ≤1199px */
@media (max-width: 1199px) {
    .container {width: 100%;}
    .welcomecont { width: 1000px; height: 500px; }
    .allceramics, .content-grid__container { padding: 0 50px; }
    .nav__list { gap: 1.5rem; margin: 20px 50px; }
}

/* Планшеты ≤991px */
@media (max-width: 991px) {
    .container {
        width: 100%;flex-direction: column; gap: 10px; padding: 10px; 
    }

    .welcomecont { 
        height: 400px; flex-direction: column; 
    }

    .maintextwelcomecont, .bottomtextwelcomecont { 
        padding: 20px; text-align: center;
    }

    .nav__list { 
        flex-direction: column; 
        gap: 1rem; 
        margin: 10px 20px; 
        align-items: center;
    }

    .allceramics { 
        flex-direction: column; align-items: center; gap: 20px; 
    }
}

/* Маленькие планшеты ≤767px */
@media (max-width: 767px) {

    .content-grid__container { 
        grid-template-columns: 1fr; 
        padding: 0 20px; 
        gap: 1rem;
    }
    .cards { 
        flex-direction: column; align-items: center; gap: 20px; 
    }

    .imgceramcs { 
        width: 100%; height: auto; max-width: 300px; 
    }

    .alltypes { 
        margin: 10px 20px; 
    }
}

/* Мобильные ≤575px */
@media (max-width: 575px) {

    .welcome_cont {
        width: 100%;
    }

    .container {
        width: 100%;
    }

    .welcomecont { 
        height: 350px;
        width: 100%; 
    }

    .btn-view-collection { 
        position: static; 
        margin: 20px auto; 
        padding: 15px 30px; 
    }

    .all_types {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }


    .nav__link { 
        display: block; 
        text-align: center; 
        padding: 10px; 
        width: 100%; 
    }

    .differents { 
        flex-direction: column; gap: 20px; 
    }

    .all_ceramics { 
        flex-direction: column; padding: 20px 60px; gap: 25px; 
    }

    .cards { 
        margin: 0px 60px; 
    }

    .brand-history {
        flex-direction: column;
    }
    .text-join-part {
        margin-top: 200px;
        width: 80%;
    }

    .btn-get-in-touch {
        margin-top: 100px;
    }
}

/* Очень маленькие экраны ≤399px */
@media (max-width: 399px) {
  body { 
    font-size: 14px; 
}

  .content-grid__container { 
    padding: 0 10px; 
}

  .nav__list { 
    gap: 0.5rem; 
}

  .imgceramcs { 
    max-width: 250px; 
}

}
